.home-top{
    background-image: url('../../../hotelImages/chillus.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
}

.display-hotels{
    padding-bottom: 100px;
    background-color: rgba(240, 238, 123, 0.158);
}

.hotel-details{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin: 12px 10px;
}

.hotel-details img{
    width: 500px;
}

.hotel-details #hotel-det{
    display: flex;
}

.hotel-image{
    width: 60%;
}

.hotel-description{
    width: 40%;
    margin-top: 50px;
}