.popupPayment{
    width: 80%;
    margin: auto;
}

.popupPayment h2{
    text-align: center;
    margin: 20px 0;
}

.paymet-pop{
    margin-top: 10px;
}
.payment-label{
    width: 40%;
    text-align: right;
    margin-right: 10px;
}

.payment-btn{
    margin-top: 20px;
    width: 100%;
}